{% extends "layout.html" %}

{% block title %}Sign in with Twitter{% endblock %}

{% block body %}
<div id="login" data-role="page" data-theme="a">

	<div data-role="content">

		<div id="logo">M&eacute;tropopote</div>

		{% if user %}
        	<p class="ptm">
			<sub>
				It seems you are already connected under <a href="/home">slyg</a> account, 
				<a href="/home">go ahead</a> or <a href="/logout">logout</a>.
			</sub>
		</p>
        	{% endif %}
		<p class="tac ptm"><a data-ajax="false" href="/auth/twitter"><img src="/img/sign-in-with-twitter-l.png" width="151" height="24" /></a></p>
	</div>

</div>
{% endblock %}
