<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Play w/ API</title>
    <link type="text/css" rel="stylesheet" href="http://static2.viadeo-static.com/resource/20120905122533/coreui.css" media="all" />
    <link type="text/css" rel="stylesheet" href="{{ route }}/css/main.css" media="all" />
</head>
<body data-route-context="{{ route }}">
	<div class="pal">
		<h1 class="pll">Play w/ API</h1>
		<div class="gr">
			<div class="gu gu-3of5">
				<ul class="nav nav-tabs mrl">
					<li class="active"><a href="#member-tab">Member</a></li>
					<li><a href="#recipe-tab">Recipe</a></li>
				</ul>
				<div class="pal">
					<div id="member-tab">
						<form class="core-form well form-inline" action="/api/{{ apiversion }}/members" method="post">
							<label for="create-member">Create :  </label>
							<input id="create-member" type="text" placeholder="1st and lastname" class="input-small" name="name" />
							<input id="create-member-username" type="text" placeholder="Username*" class="input-small" name="username" />
							<input id="create-member-email" type="text" placeholder="Email*" class="input-small" name="email" />
							<input id="create-member-password" type="password" placeholder="Password*" class="input-small" name="password" />
							<button type="submit" class="btn btn-primary">Create member</button>
						</form>
						<form class="core-form well form-inline" action="/api/{{ apiversion }}/members" method="get">
							<label for="retrieve-member">Retrieve : </label>
							<input id="retrieve-member" type="text" placeholder="Member ID" class="input-small" name="id" />
							<button type="submit" class="btn btn-primary">Retrieve member</button>
						</form>
						<form class="core-form well form-inline" action="/api/{{ apiversion }}/members" method="get">
							<label for="retrieve-all-member">Retrieve : </label>
							<input type="text" name="offset" placeholder="offset" class="input-small" />
							<input type="text" name="limit" placeholder="limit" class="input-small" />
							<button type="submit" class="btn btn-primary">Retrieve all members</button>
						</form>
						<form class="core-form well form-inline" action="/api/{{ apiversion }}/members" method="post">
							<label for="member-id-update">Update :  </label>
							<input id="member-id-update" type="text" placeholder="Member ID" name="id" class="input-small" />
							<input type="text" placeholder="1st and lastname" name="name" class="input-small" />
							<input type="text" placeholder="Username" name="username" class="input-small" />
							<input type="hidden" name="_method" value="put" />
							<button type="submit" class="btn btn-primary">Update member's name</button>
						</form>
						<form class="core-form well form-inline" action="/api/{{ apiversion }}/members" method="post">
							<label for="delete-member">Delete :  </label>
							<input id="delete-member" type="text" placeholder="Member ID" name="id" class="input-small" />
							<input type="hidden" name="_method" value="delete" />
							<button type="submit" class="btn btn-primary">Delete member</button>
						</form>
					</div>
					<div id="recipe-tab">
						<form class="core-form well form-inline" action="/api/{{ apiversion }}/recipes" method="post">
							<label for="create-recipe">Create :  </label>
							<input id="create-recipe" type="text" placeholder="Recipe title *" class="input-small" name="title" />
							<input id="create-recipe-ingredient" type="text" placeholder="Ingredient" class="input-small" name="ingredients" />
							<input id="create-recipe-ingredient2" type="text" placeholder="Ingredient" class="input-small" name="ingredients" />
							<input id="create-recipe-owner" type="text" placeholder="Owner ID*" class="input-small" name="owner" />
							<button type="submit" class="btn btn-primary">Create recipe</button>
						</form>
						<form class="core-form well form-inline" action="/api/{{ apiversion }}/recipes" method="get">
							<label for="retrieve-recipe">Retrieve : </label>
							<input id="retrieve-recipe" type="text" placeholder="Recipe ID" class="input-small" name="id" />
							<button type="submit" class="btn btn-primary">Retrieve recipe</button>
						</form>
						<form class="core-form well form-inline" action="/api/{{ apiversion }}/recipes" method="get" >
							<label for="retrieve-all-recipes">Retrieve : </label>
							<input type="text" name="offset" placeholder="offset" class="input-small" />
							<input type="text" name="limit" placeholder="limit" class="input-small" />
							<button type="submit" class="btn btn-primary">Retrieve all recipes</button>
						</form>
						<form class="core-form well form-inline" action="/api/{{ apiversion }}/recipes" method="post">
							<label for="delete-recipe">Delete :  </label>
							<input id="delete-recipe" type="text" placeholder="Recipe ID" name="id" class="input-small" />
							<input type="hidden" name="_method" value="delete" />
							<button type="submit" class="btn btn-primary">Delete recipe</button>
						</form>
					</div>
				</div>
			</div>
			<div class="gu gu-last">
				<div id="logcontainer" class="cf">
					<a href="{{ route }}" class="btn btn-default btn-small mbm mrxl" id="clearlog">clear</a>
					<div id="logger"><pre class="displayed">Log</pre></div>
				</div>
			</div>
		</div>
	</div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="{{ route }}/js/main.js"></script>
</body>
</html>
